body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    transition: background-color 1s;
}

canvas {
    cursor: crosshair;
    width: 95vw;
    max-width: 1000px;
}

.content input[type="submit"] {
    background: white;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    border-radius: .3em;
    width: 100%;
   
    transition: background-color .3s;
    text-align: center;
    font-size: 25px;
    border: none;
    cursor: pointer;
    max-width: 600px;
}

.content input[type="submit"],
#prompt-input-box {
    box-sizing: border-box;
}

#response-box {
    box-sizing: border-box;
    background: white;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: regular;
    border-radius: .3em;
    width: 100%;
    
    transition: background-color .3s;
    text-align: left;
    font-size: 20px;
    max-width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    
    align-items: center; /* Added this line */
    padding: 20px;
    background-color: #31133d;
    width: 95vw;
    max-width: 960px;
}

#prompt-input-box {
    background: white;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: regular;
    border-radius: .3em;
    width: 100%;
    display: inline-block;
    transition: background-color .3s;
    text-align: left;
    font-size: 20px;
    max-width: 600px;
}
