body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    transition: background-color 1s;
}

canvas {
    cursor: crosshair;
    width: 95vw;
    max-width: 1000px;
}

.content input[type="submit"] {
    background: rgb(251, 224, 174);
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    border-radius: .3em;
    width: 100%;
   
    transition: background-color .3s;
    text-align: center;
    font-size: 25px;
    border: none;
    cursor: pointer;
    max-width: 600px;
}

.content button[id="start"] {
    background: rgb(237, 65, 49);
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    border-radius: .3em;
    width: 100%;
   
    transition: background-color .3s;
    text-align: center;
    font-size: 25px;
    border: none;
    cursor: pointer;
    max-width: 600px;
}

.content input[type="submit"]:hover {
    background: rgb(255, 165, 0);
}
.content button[id="start"] :hover {
    background: rgb(197, 7, 16);
}

.content input[type="submit"],
#prompt-input-box {
    box-sizing: border-box;
}

#prompt-input-box:focus {
    outline: 0.3em solid orange;
}


#response-box {
    box-sizing: border-box;
    background: white;
    padding: 0.25em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: regular;
    border-radius: .3em;
    width: 100%;
    
    transition: background-color .3s;
    text-align: left;
    font-size: 20px;
    max-width: 600px;
}


.answer {
    /*background-color: rgb(250, 211, 143);*/
    padding: 10px;
    /*margin-left: 2em;*/
    border-radius: 5px;
}

.question {
    background-color: rgb(238, 227, 246);
    padding: 10px;
    /*margin-right: 2em;*/
    width:auto;
    border-radius: 5px;
}

#audioPlayer {
    display: none;
}



.content {
    display: flex;
    flex-direction: column;
    
    align-items: center; /* Added this line */
    padding: 20px;
    background-color: #31133d;
    width: 95vw;
    max-width: 960px;
}

#prompt-input-box {
    background: white;
    padding: 1em;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: regular;
    border-radius: .3em;
    width: 100%;
    display: inline-block;
    transition: background-color .3s;
    text-align: left;
    font-size: 20px;
    max-width: 600px;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Black w/ opacity */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

#modal-content {
    background-color: #31133d;
    margin: 35% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 300px;
    color: white;
    border-radius: .3em;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

#modal-button {
    background: rgb(251, 224, 174);
    color: black;
    border: none;
    border-radius: .3em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: background-color .3s;
}

#modal-button:hover {
    background: rgb(255, 165, 0);
}

